<footer class="blog-footer" id="contacts"><div class="blog-footer-inner">
  <div class="blog-footer-top">
    <a class="blog-brand" href="https://mkekspert.ru/"><strong><span>МК</span> ЭКСПЕРТ</strong><small>Яндекс Директ. Больше, чем реклама.</small></a>
    <nav aria-label="Навигация в подвале"><a href="https://mkekspert.ru/#services">Услуги</a><a href="https://mkekspert.ru/portfolio">Кейсы</a><a href="/">Блог</a><a href="https://t.me/mariyaprodirect">Telegram</a><a href="https://dzen.ru/klientyandtrafik">Дзен</a><a href="https://vk.ru/klientyandtrafik">ВКонтакте</a></nav>
    <address><a href="tel:+79630853896">+7 (963) 085-38-96</a><a href="mailto:ekspertmk@yandex.ru">ekspertmk@yandex.ru</a><span>Санкт-Петербург, Кондратьевский пр., 68/4</span><span>Работаю с компаниями по всей России онлайн</span></address>
  </div>
  <div class="blog-footer-bottom"><span>© 2026 МК Эксперт · Мария Ковалева</span><a href="https://mkekspert.ru/policy">Политика конфиденциальности</a><span>Информация на сайте не является публичной офертой</span></div>
</div></footer>